@charset "utf-8";
/* NTS Joontop */

	/* Reset */
	* {font-family:'맑은굴림체','바탕',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px; color:#403e42}
	html,body{width:100%;height:100%; background-color: #f9fdfe}
	html{overflow-y:scroll;font-size:10px}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
	body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
	img,fieldset,iframe{border:0 none}
	li{list-style:none}
	input,select,button{vertical-align:middle}
	img{vertical-align:top}
	i,em,address{font-style:normal}
	label,button{cursor:pointer}
	button{margin:0;padding:0}
	a{color:#222;text-decoration:none}
	a:hover{color:#390;text-decoration:underline}
	form {margin:0;padding:0}
	/* ************************************************* */

	.mousehover			{text-color: #88f; cursor:pointer}

	hr {color: #eeeeee; border-top: 1px solid #ddd; ; border-left: 0; border-right:0; border-bottom:0; padding: 0; margin: 0}
	
	.ul-horz li	{list-style-type:none; display:inline-block; vertical-align:middle}
	
	.r-box {position:absolute;right:0;top:0;height:100%}
	.l-box {position:absolute;left:0;top:0;height:100%}

	input[type='checkbox'] {
		display:block;
		position:relative;
		margin: 0px;
	}
	
	xinput[type='checkbox'] {
		width: 13px;
		height: 13px;
		margin-top:-14px;
		margin-left: 2px;
		zoom:1.7;
		transform:scale(1.7);
		-ms-transform:scale(1.7);
		-webkit-transform:scale(1.7);
		-o-transform:scale(1.7);
		-moz-transform:scale(1.7);
		transform-origin:0 0;
		-ms-transform-origin:0 0;
		-webkit-transform-origin:0 0;
		-o-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}

	.bg		{background-color: #e9faff}
	.bg1	{background-color: #d8f4fe}
	.bg2	{background-color: #b4e8fb}
	.bg3	{background-color: #70d3f3}
	
	/* 줄간 +25% */
	t1	{margin:0; padding:0; line-height:40px; font-size:32px; font-weight: bold; display:block}
	t2	{margin:0; padding:0; line-height:30px; font-size:24px; font-weight: bold; display:block}
	t3	{margin:0; padding:0; line-height:22px; font-size:18px; font-weight: bold; display:block}
	t4	{margin:0; padding:0; line-height:20px; font-size:16px; font-weight: bold; display:block}
	t5	{margin:0; padding:0; line-height:16px; font-size:13px; font-weight: bold; display:block}
	t6	{margin:0; padding:0; line-height:13px; font-size:11px; font-weight: bold; display:block}
	
	p1	{margin:0; padding:0; line-height:25px; font-size:20px; font-weight: normal; display:block}
	p2	{margin:0; padding:0; line-height:22px; font-size:18px; font-weight: normal; display:block}
	p3	{margin:0; padding:0; line-height:20px; font-size:16px; font-weight: normal; display:block}
	p4	{margin:0; padding:0; line-height:17px; font-size:14px; font-weight: normal; display:block}
	p5	{margin:0; padding:0; line-height:15px; font-size:12px; font-weight: normal; display:block}
	p6	{margin:0; padding:0; line-height:12px; font-size:10px; font-weight: normal; display:block}
	
	/* 줄간 +25% */
	b1	{margin:0; padding:0; line-height:40px; font-size:32px; font-weight: bold; display:inline-block}
	b2	{margin:0; padding:0; line-height:30px; font-size:24px; font-weight: bold; display:inline-block}
	b3	{margin:0; padding:0; line-height:22px; font-size:18px; font-weight: bold; display:inline-block}
	b4	{margin:0; padding:0; line-height:20px; font-size:16px; font-weight: bold; display:inline-block}
	b5	{margin:0; padding:0; line-height:16px; font-size:13px; font-weight: bold; display:inline-block}
	b6	{margin:0; padding:0; line-height:13px; font-size:11px; font-weight: bold; display:inline-block}
	
	n1	{margin:0; padding:0; line-height:25px; font-size:20px; font-weight: normal; display:inline-block}
	n2	{margin:0; padding:0; line-height:22px; font-size:18px; font-weight: normal; display:inline-block}
	n3	{margin:0; padding:0; line-height:20px; font-size:16px; font-weight: normal; display:inline-block}
	n4	{margin:0; padding:0; line-height:17px; font-size:14px; font-weight: normal; display:inline-block}
	n5	{margin:0; padding:0; line-height:15px; font-size:12px; font-weight: normal; display:inline-block}
	n6	{margin:0; padding:0; line-height:12px; font-size:10px; font-weight: normal; display:inline-block}	
		
	.line-height-15px, .line-height-15px * {line-height: 15px}
	.line-height-25px, .line-height-25px * {line-height: 25px}
			
	.grid-box-a li:first-child {padding:0}
	.grid-box-a li:first-child div {line-height: 1.5em; background-color:#ddd}
	.grid-box-a .ui-block-a {width:50%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-a .ui-block-b {width:50%; padding-left: 10px; overflow:hidden}
	
	.grid-box-b li:first-child {padding:0}
	.grid-box-b li:first-child div {line-height: 1.5em; background-color:#ddd}
	.grid-box-b .ui-block-a {width:34%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-b .ui-block-b {width:33%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-b .ui-block-c {width:33%; padding-left: 10px; overflow:hidden}
	
	.grid-box-c li:first-child {padding:0}
	.grid-box-c li:first-child div {line-height: 1.5em; background-color:#ddd}
	.grid-box-c .ui-block-a {width:25%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-c .ui-block-b {width:25%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-c .ui-block-c {width:25%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-c .ui-block-d {width:25%; padding-left: 10px; overflow:hidden}
	
	.grid-box-d li:first-child {padding:0}
	.grid-box-d li:first-child div {line-height: 1.5em; background-color:#ddd}
	.grid-box-d .ui-block-a {width:20%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-d .ui-block-b {width:20%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-d .ui-block-c {width:20%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-d .ui-block-d {width:20%; padding-left: 10px; overflow:hidden; border-right: 1px solid #ccc}
	.grid-box-d .ui-block-e {width:20%; padding-left: 10px; overflow:hidden}
	
	.ui-dialog-background {
	    opacity: 0.5;
	    display: block !important;
	    -webkit-transition: opacity 0.1s ease-in;
	}
	.ui-dialog-background.pop.in {
	    opacity: 1;
	    -webkit-transition: opacity 0.1s ease-in;
	}
	.ui-dialog {
		z-index: 9999;
	    min-height: 100% !important;
	    background: transparent !important;
	}
	
	table.no-border, table.no-border td{border: none; margin:0; padding:0}
	table.single-line tbody td {border-top: 1px solid #ddd; border-left: 1px solid #ddd; padding: 0; text-align: center}
	table.single-line tbody td:last-child {border-right: 1px solid #ddd}    		
	table.single-line tbody td.no-left-line {border-left: 1px solid transparent} 
	table.single-line {border-bottom: 1px solid #ddd} 

	/* fieldset & input내에서의 margin&padding 조정 */
	.fieldset-nopadding {position: absolute}
	.fieldset-nopadding .ui-controlgroup-controls::before {display: none}

	.ui-input-search	{margin-top:2px; margin-bottom: 2px;}
	.ui-icon-searchfield::after {left: 173px}			/* 돋보기 아이콘 제거 */
	
	.ui-input-text		{margin-top:2px; margin-bottom: 2px;}		/* 바로 나열시 4px 덜어지도록 함 ==> top/bottom 2px로 */
	.ui-select			{margin-top:2px; margin-bottom: 2px;}		
	.ui-btn 			{margin-top:2px; margin-bottom: 2px;}
	.ui-controlgroup	{margin-top:2px; margin-bottom: 2px;}		
	
	#title-cash-info	{display: inline-block; background-color:yellow; text-shadow:none; color: red; text-align: right; font-size: 12px; line-height:14px; padding: 2px 5px; border-radius: 4px;}
	#content 			{background-color: #fff}
	navbar .ui-btn:active {background-color: auto}	/* navbar 버튼이 돌아왔을 때 selected상태가 유지되서 조금 밝게 보이는 것 보정 */

	table thead tr	{line-height: 30px; background-color:#ffe}